.header {
    height: 100px;
}

.header > div {
    margin: 10px;
}

.searchBar {
    background-color: #1f1f20;
    height: 50px;
}

.headerItems {
    color: #eaf0ff;
}

.headerActions > div {
    margin: 5px;
}

.themeSwitchContainer {
    background-color: #1c1c1e;
}

.themeSwitchIcon {
    height: 25px;
}

.loginButton {
    background: linear-gradient(to right, #f5453f, #f17878);
    padding: 15px 40px;
}