.header {
    color: #fff;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > div {
    margin: 10px;
}

.punkLogo {
    width: 200px;
}

.searchBar {
    background-color: #1f1f20;
    height: 50px;
    flex: 1;
    display: flex;
    border-radius: 50px;
    align-items: center;
}

.searchIconContainer {
    margin: 15px;
}

.searchInput {
    background-color: transparent;
    border: none;
    width: 100%;
    outline: none;
    color: #eee;
    font-size: 16px;
}

.headerItems {
    display: flex;
    color: #a1a5b0;
}

.headerItems > p:hover {
    color: #eaf0ff;
    cursor: pointer;
}

.headerItems > p {
    margin: 10px;
}

.headerActions {
    display: flex;
    align-items: center;
}

.headerActions > div {
    margin: 10px;
}

.themeSwitchContainer {
    display: flex;
    background-color: #1c1c1e;
    border-radius: 50px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.themeSwitchIcon {
    height: 25px;
}

.themeSwitchContainer:hover {
    cursor: pointer;
    background-color: #2f2f31;
}

.loginButton {
    color: #000;
    background: linear-gradient(to right, #f5453f, #f17878);
    padding: 15px 40px;
    border-radius: 50px;
}

.loginButton:hover {
    cursor: pointer;
    background: linear-gradient(to right, #a52c28, #b85b5b);
}